# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

unpackage
# 忽略 node_modules 文件夹

但是不忽略 @tanzhenxing

node_modules/*
!node_modules/@tanzhenxing
# 忽略 @tanzhenxing 包内的嵌套 node_modules
# node_modules/@tanzhenxing/*/node_modules/

