<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<meta name="keywords" content="{{keywords}}" />
<link rel="icon" type="image/png" href="{{site_icon}}" />
<link rel="apple-touch-icon" type="image/png" href="{{site_logo}}" />
<link rel="canonical" href="{{site_url}}" />
<meta property="og:site_name" content="{{title}}" />
<meta property="og:type" content="{{title}}" />
<meta property="og:url" content="{{site_url}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="{{site_image}}" />
<meta property="og:author" content="{{site_author}}" />
<meta property="og:release_date" content="{{time}}" />
<meta property="og:locale" content="{{site_locale}}" />
